.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 10px;
    padding-top: 60px;
}
.form-container{
    display: flex;
    margin: auto;
    padding-top: 5rem;
    border: 1px solid black;
    flex-direction: column;
    background-color: teal;
    min-height: 30rem;
    max-height: 40rem;
    width: 30rem;
    padding: 20px;

}
.input-text{
    margin-top: 10px;
    padding: 10px;
    min-width: 20rem;
    max-width: 50rem;
}
.button-submit{
    margin-top: 30px;
    max-width: 20rem;
    min-width: 10rem;
    margin-left: auto;
    margin-right: auto;
}